<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= render "shared/caption", site: 'Pixnet', title: '編輯帳號' %>
      <%= breadcrumb('Pixnet',link_to('使用者管理', pixnet_users_path), full_name(current_object)) %>
      <%= render 'form' %>
    </div>
  </div>
</div>
