<div class="form-group btn-group">
  <%= origin_button current_object.detail_url %>
  <%= fetch_button fetch_remote_ruten_product_path(current_object) %>
  <%= delete_button ruten_product_path(current_object) %>
</div>
