<div class="form-group btn-group">
  <%= origin_button pixnet_article_link(current_object) %>
  <%= fetch_button fetch_remote_pixnet_article_path(current_object) %>
  <%= delete_button pixnet_article_path(current_object) %>
</div>
