<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= render "shared/caption", site: '露天拍賣', title: '編輯賣家' %>

    <%= breadcrumb('露天拍賣', link_to("賣家管理", ruten_users_path), current_object.account) %>
    <%= render 'form' %>
    </div>
  </div>
</div>
